<nav>
    <div class="subNav">
        <div class="subNav__items">
            <a href='/html-css-start'>
                התחלה
            </a>
            <a href='/html-css-flex'>
                Flex
            </a>

        </div>
    </div>
</nav>