<nav>
    <img src='img/cropped-logo_in_cube.png.webp' alt='INT logo'>
    <div class="nav__items">
        <a href='/  '>
            Home
        </a>
        <a href='/html-css'>
            HTML-CSS
        </a>
         <a href='/js-start'>
            Javascript
        </a>
         <a href='/job-problem'>
            להתקבל לעבודה
        </a>
    </div>
</nav>