<nav>
    <div class="subNav">
        <div class="subNav__items">
            <a href='/js-start'>
                התחלה
            </a>
            <a href='/js-objects'>
                Objects
            </a>
            <a href='/js-forms'>
                Forms
            </a>
        </div>
    </div>
</nav>