<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="dist/style.css">
</head>

<body>
    <nav>
        <a href='/yell'>
            Yell
        </a>
        <a href='/  '>
            Home
        </a>
    </nav>
    {{{body}}}

</body>

</html>