{{>js-subNav}}
<h1>Forms</h1>
  
<div class="wrapper">
    <h2>כיצד לעבוד עם שדות קלט</h2>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/pYiQ2GkbCMU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>