{{>js-subNav}}
<h1>Functions</h1>
  
<div class="wrapper">
    <h2>תרגילים</h2>
    <a href="https://edabit.com/challenges" target='_blank'>
        <article dir='rtl'>
            <h3>Edabit</h3>
            <p>אתר פצצה עם רמות שונות של פונקציות</p>
        </article>
    </a>
</div>