{{>js-subNav}}
<h1>Objects</h1>
  
<div class="wrapper">
    <h2>הסבר ראשוני על Objects ב JavaScrypt</h2>
    <p>אובייקטים בעולם התכנה הם משהו שיכולות להיות לו תכונות, והוא יודע לבצע דברים. בדומה לאנשים. שיש להם תכונות כמו שם, גובה, צבע שיער והם יודעים לעשות דברים כמו לאכול ולדבר.<br> ב-Java Script יש לאובייקטים משמעות מיוחדת מפני שכמעט כל דבר הוא אובייקט. <br> יש אובייקטים לתאריך (Date), ולמתמטיקה (Math), ואם רוצים להשתמש במערכים, אז משתמשים באובייקט array. <br>אפילו אם רוצים לכתוב מסר פשוט משתמשים באובייקטים.</p>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/pYiQ2GkbCMU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>