$primary:#0a102d;
$onPrimary:white;
$secondery:#35ffff;

$colorH1:rgba(0, 0, 0, 0.787);
$colorH:rgba(0, 0, 0, 0.678);
$colorP:rgba(0, 0, 0, 0.55);

html,
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}
h1{
    color: $colorH1;
}
h2, h3,h4,h5,h6{
    color: $colorH;
}
p, div, span{
    color: $colorP;
}

nav {
    display: flex;
    align-items: center;
    background-color: $primary;
    color: $onPrimary;

    img {
        height: 60px;
        margin: 10px;
    }

    .nav {
        display: flex;
        align-items: center;

        &__items {
            height: 80px;
            display: flex;
            align-items: center;
            

            a {
                height: 100%;
                color: $onPrimary;
                display: flex;
                align-items: center;
                padding: 0px 20px;
                &:hover{
                    background-color: $secondery;
                    color: $primary;
                }
            }
           
        }
    }

}