{{>css-sub-nav}}
<h1>Flex</h1>
<div class="wrapper">
    <h2>הסבר ראשוני על flex</h2>
    <div class="video-container">
        <iframe class="iframe" src="https://www.youtube.com/embed/baqfO15uIxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h2>מידע תומך</h2>
    <ul>
        <li><a href='https://css-tricks.com/snippets/css/a-guide-to-flexbox/' target='_blank'>CSS Tricks - flex</a></li>
    </ul>
    <ul>
        <li><a href='https://www.geeksforgeeks.org/css-flex-property/' target='_blank'>Geeks for Geeks</a></li>
    </ul>
</div>