{{>css-sub-nav}}
<h1>Flex</h1>
<div class="wrapper">
    <h2>הסבר ראשוני על flex.</h2>
    <div class="video-container">
        <iframe class="iframe" src="https://www.youtube.com/embed/baqfO15uIxA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <h2>מידע תומך</h2>
    <a href="https://flexboxfroggy.com/#he" target='_blank'>
        <article dir='ltr'>
            <h3>Flex froggy</h3>
        </article>
    </a>
    <a href='https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox' target='_blank'>
        <article dir='ltr'>
            <h3>CSS MDN - Flex</h3>
        </article>
    </a>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/ofF7i9KdBL4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <a href='https://www.freecodecamp.org/news/css-flexbox-tutorial-with-cheatsheet/' target='_blank'>
        <article dir='ltr'>
            <h3>Cheat|Sheet - flex</h3>
        </article>
    </a>
    <a href='https://www.geeksforgeeks.org/css-flex-property/' target='_blank'>
        <article dir='ltr'>
            <h3>Geeks-for-Geeks</h3>
        </article>
    </a>
    <a href='https://www.blog.duomly.com/flexbox-cheatsheet/#4-how-to-justify-content' target='_blank'>
        <article dir='ltr'>
            <h3>Flexbox Cheatsheet</h3>
            <p>12 Tips and Tricks Every Web Developer Should Know</p>
        </article>
    </a>
    
       <a href='https://www.blog.duomly.com/flexbox-cheatsheet/#4-how-to-justify-content' target='_blank'>
        <article dir='ltr'>
            <h3>test adi</h3>
            <p>12 Tips and Tricks Every Web Developer Should Know..........</p>
        </article>
    </a>
</div>