<div class="wrapper">
    <h1> בעיית הג׳וניורים</h1>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/vLzy3gAjZBw" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <h2>מידע תומך</h2>
    <a href="https://www.haaretz.co.il/captain/tutorial/.premium-1.10310565">
        <article>
            רן בר הארץ על מה צריך לעשות כדי להתקבל לעבודה
        </article>
    ,</a>
 
</div>